@using SGP.Core.Application.ViewModels.PruebaLaboratorio;
@model SavePruebaLaboratorioViewModel

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header bg-dark text-light">
                    <h4>@(Model.Id == 0 ? "Crear Prueba de Laboratorio" : "Editar Prueba de Laboratorio")</h4>
                </div>
                <div class="card-body">
                    
                    <form method="post" asp-controller="PruebaLaboratorio" asp-action="@(Model.Id == 0 ? "Crear" : "Editar")">

                        <div class="mb-3">
                            <label asp-for="Nombre" class="form-label">Nombre de la Prueba:</label>
                            <input type="text" asp-for="Nombre" class="form-control" />
                            <span asp-validation-for="Nombre" class="text-danger"></span> 
                        </div>

                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="ConsultorioId" />

                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <a asp-controller="PruebaLaboratorio" asp-action="Index" class="btn btn-warning">Volver atrás</a>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


