@using SGP.Core.Application.ViewModels.MantenimientoUsuario;
@model SaveMantenimientoUsuarioViewModel
@{
    ViewData["Title"] = "Eliminar Usuario";
}

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header bg-dark text-light">
                    <h4>¿Está seguro que desea eliminar el usuario @Model.NombreUsuario?</h4>
                </div>
                <div class="card-body">
                    <form method="post" asp-controller="MantenimientoUsuario" asp-action="ConfirmarEliminar">
                        
                        <input type="hidden" asp-for="Id" />
                        
                        <div class="text-center"> 
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                            <a asp-controller="MantenimientoUsuario" asp-action="Index" class="btn btn-secondary">Cancelar</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
